 html { 
  background: url(../images/leather.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.navigation { 
  font-family: 'ubuntu', sans-serif;
  font-size: .8em;
  background: black url("../images/wood_panel.jpg") no-repeat; 
  background-size: 100%; 
  margin:0; padding: 20px; 
	width: auto; height: 40px; 
  text-align:center; 
  letter-spacing: 10px; 
  word-spacing: 5em;
	/*vertical-align: middle;*/ 
  color: white;
}

.navigation nav {
  width: 960px;
  margin: 0 auto;
}

.navigation a {
  width: 25%;
  display: inline-block;
  color: white; 
  text-align: center;
  text-decoration: none;
  margin: 10px 0 0; 
}

.navigation a:hover {
  color: red;
}

.logo-line { 
  font-family: 'ubuntu', sans-serif;
  font-size: .5em; 
  text-transform: uppercase;
  background: white;
  margin: 0; 
	width: auto; height: 40px; 
  letter-spacing: 8px; 
  word-spacing: .75em;
	vertical-align: middle; 
  color: black; 
  height: 60px;
  -moz-box-shadow: 0px 5px 5px #777777;
  -webkit-box-shadow: 0px 5px 5px #777777;
  box-shadow: 0px 5px 5px #777777;

}
.logo-line span {
  display: inline-block;
  padding: .4px 25px;
  text-align: center;
}

.logo-line span.border-right {
  border-right:2px solid #777777;
}

.logo-line h1 {
  float: left;
  display: block;
  width: 960px; border-top:2px solid #777777;
  border-bottom:2px solid #777777;
  margin: 20px 0 0 0;
}

.logo-line a {
  display: block;
  float: left;
}

.red-text {
  color: red;
}

.gray-text {
    color: #777777;
}

.black-text {
    color: #000000;
}

.intro {
	font-family: 'ubuntu', sans-serif;
  font-size: 1.75em; 
  line-height: 2em; 
  letter-spacing: 6px; 
  background: white; 
  margin: 40px auto; 
  padding: 70px; 
  width: 960px; height: 560px; text-align: center; 
  vertical-align: middle; color: red;
  -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;
}

img.Cover {
  margin-top: 140px;
}

.CVwrapper {   
  background: white;
  background-repeat: no-repeat;
  margin: 40px auto;
  padding: 70px;
  width: 960px; height: 560px; text-align: center;
  vertical-align: middle;
  -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;
}

img.logo-field {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.col-1 {
  font-family: 'ubuntu', sans-serif;
  font-size: .85em; line-height: 3.4em; 
  letter-spacing: 1px; margin: 40px auto; width: 50%;
  float: left;
  width: 460px;  
  text-align: left;
  text-decoration: none;
  margin: 5px 0 0;
}

.col-2 {
  font-family: 'ubuntu', sans-serif;
  font-size: .75em; line-height: 2.2em; 
  letter-spacing: .5px; 
  margin: 20px auto; 
  float: right;
  width: 420px; 
  text-align: left;
  text-decoration: none;
  margin: 20px 0 0; 
}

.opening-statement {
	font-family: 'ubuntu', sans-serif;
  font-size: 1em; 
  text-transform: uppercase; 
  line-height: 3em; 
  color: gray;
  letter-spacing: 6px; 
  background: white; 
  background-repeat: no-repeat;
  margin: 40px auto; 
  padding: 70px; 
	width: 960px; height: 560px; 
  text-align: left; 
	vertical-align: middle;  
    -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;

}

.opening-statement p {
  padding-top: 45px;
}

img.Mark {
  float: left;
}

.Contact-wrapper {   
  background: white;
  background-repeat: no-repeat;
  margin: 40px auto;
  padding: 70px;
  width: 960px; height: 560px; text-align: center;
  vertical-align: middle;
  -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;
}

.contact-info a {
  font-family: 'ubuntu', sans-serif;
  display: inline-block;
  font-size: 1em; 
  margin: 250px auto;
  text-transform: uppercase;
  letter-spacing: 6px; 
  color: red; 
  text-decoration: none;
  width: auto;
}

.contact-info a:hover {
   color: #777777;
 }

 .Work-wrapper {
  background: white;
  background-repeat: no-repeat;
  margin: 40px auto;
  padding: 70px;
  width: 960px; height: 560px; 
  vertical-align: middle;
  -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;
}

.carousel {
  position: relative;
  background: #fff;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 2px 10px #333;
}

.frame {
  width: 800px;
  height: 520px;
  overflow: hidden;
  margin: 0 auto;
}

.slide_tray {
 position: relative;
}

.slide {
  width: 800px;
  height: 520px;
  float: left;
}


 .Work-page {
  font-family: 'ubuntu', sans-serif;
  font-size: .85em; 
  margin: 20px auto;
  padding: 20px 0 0; 
  letter-spacing: 6px;
  color: black;  
  text-align: center;
  text-decoration: none;
  width: auto;

}

.work-page p:hover {
  color: black;
}

.fallback {
  color: red;
}

